<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">       <!-- good for responsiveness -->
	<meta name="viewport" content="width=device-width, initial-scale=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!-- <link href="static/postApp/main.css" rel="preload" as="style"> -->
	<link rel="stylesheet" type="text/css" href="/static/postApp/main.css">

	<title>The Howler</title>
</head>

<body style="margin:0; font-family: Helvetica Neue; font-color: #f4edbf; font-size: 17px;color: #926239;line-height: 1.6;">

		<header id="showcase" style="background-image: url(../media/profile_pics/KnightOwl.jpg);">
			<h1>Who's Who </h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae expedita iusto maxime et quod, esse consequatur alias facilis magni dicta, praesentium delectus similique suscipit exercitationem nemo minus culpa voluptatibus adipisci?</p>

			<a href="{% url 'post1-home' %}" class="button">Enter Site</a> <!--create link to home.html -->
		</header>
	
	<section id="section-a">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sint ex, magnam qui aliquid, odio veniam cum commodi eos aperiam.</p>
	</section>
	<section id="section-b">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium veritatis odio, a assumenda totam quos facere dignissimos aperiam nesciunt illo.</p>
	</section>
	<section id="section-c">
		<div class="box-1">
		    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, neque.
	    </div>
		<div class="box-2">
			Ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, consequuntur?	
		</div>
		<div class="box-3">
			Dolor sit amet, consectetur adipisicing elit. Fuga, reprehenderit!
		</div>
	</section>
	
</body>
</html>